<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Daniel Kadyrov Personal Website</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Daniel Kadyrov</h1>

        <p>Engineer based in New York City<br>
          <br>
          I enjoy studying chess, viewing fine art, talking finance, listening and playing jazz, and collecting synthesizers.
        </p>


        <p class="view"><a href="mailto: daniel.kadyrov@gmail.com">Email <small>daniel.kadyrov@gmail.com</small></a></p>

        <p class="view"><a href="http://github.com/dkadyrov">GitHub <small>github.com/dkadyrov</small></a></p>

        <p class="view"><a href="http://linkedin.com/in/kadyrov">LinkedIn <small>linkedin.com/in/kadyrov</small></a></p>

        <p class="view"><a href="https://t.me/dankyrov">Telegram <small>t.me/dankyrov</small></a></p>

        <!-- <ul>
          <li><a href="https://github.com/orderedlist/minimal/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/orderedlist/minimal/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="http://github.com/orderedlist/minimal">Fork On <strong>GitHub</strong></a></li>
        </ul> -->



      </header>
      <section>
          {{content}}
      </section>
      <footer>
        <!-- <p>This project is maintained by <a href="http://github.com/orderedlist">Steve Smith</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
